"*":
  "activate-power-mode":
    autoToggle: false
  "advanced-open-file":
    createFileInstantly: true
  "atom-beautify":
    general:
      _analyticsUserId: "18bc3f10-9ef4-4570-a89e-3eb9253782ab"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=node_modules"
  "atom-ternjs": {}
  "autocomplete-elixir":
    elixirPath: "/bin/elixir"
    erlangHome: "/bin"
    matchDoEnd: false
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  "autoupdate-packages":
    lastUpdateTimestamp: 1477136586210
  codic:
    accessToken: "iSNoYJwh8RZdq0HRoo6UdwZ8MnHMEBvH6"
  core:
    audioBeep: false
    disabledPackages: [
      "atom-ternjs"
      "vim-mode-plus-ex-mode"
      "linter-scss-lint"
      "zentabs"
      "linter-markdown"
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "Godeps"
      "\\.tags"
    ]
    packagesWithKeymapsDisabled: [
      "rspec"
      "terminal-plus"
      "ruby-block"
      "rails-rspec"
      "markdown-writer"
      "go-debug"
      "notebook"
      "atom-ctags"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Ricty"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
  emmet: {}
  "exception-reporting":
    userId: "b6e0e25d-e445-31ec-3a35-8e82d7dfe306"
  "go-plus":
    panelDisplayMode: "closed"
  "haskell-ghc-mod":
    onChangeCheck: true
    onChangeLint: true
    showTypeOnSelection: true
  "highlight-line": {}
  "ide-haskell": {}
  ignoredNames: [
    null
    "Godeps"
  ]
  jshint:
    onlyConfig: true
  "keyboard-localization":
    useKeyboardLayout: "ja_JP"
    useKeyboardLayoutFromPath: "/home/daniel/.atom/ja_JP106.json"
  linter: {}
  "linter-clang": {}
  "linter-elixirc":
    forceElixirc: true
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
  "project-plus": {}
  "rails-rspec": {}
  rspec:
    command: "bundle exec spring rspec"
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          red: 29
          green: 37
          blue: 148
          alpha: 1
        cyan:
          red: 43
          green: 102
          blue: 81
          alpha: 1
        green:
          red: 119
          green: 137
          blue: 0
          alpha: 1
        magenta:
          red: 104
          green: 42
          blue: 155
          alpha: 1
        red:
          red: 145
          green: 34
          blue: 38
          alpha: 1
        white:
          red: 146
          green: 149
          blue: 147
          alpha: 1
        yellow:
          red: 174
          green: 123
          blue: 0
          alpha: 1
      zBright:
        brightBlack:
          red: 102
          green: 102
          blue: 102
          alpha: 1
        brightBlue:
          red: 129
          green: 162
          blue: 190
          alpha: 1
        brightCyan:
          red: 138
          green: 190
          blue: 183
          alpha: 1
        brightGreen:
          red: 181
          green: 189
          blue: 104
          alpha: 1
        brightMagenta:
          red: 178
          green: 148
          blue: 187
          alpha: 1
        brightRed:
          red: 204
          green: 102
          blue: 102
          alpha: 1
        brightWhite:
          red: 236
          green: 235
          blue: 236
          alpha: 1
        brightYellow:
          red: 240
          green: 198
          blue: 116
          alpha: 1
    core: {}
    style:
      animationSpeed: 0
      fontFamily: "Ricty"
  "todo-show":
    sortBy: "Type"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    incrementalSearch: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1477114964
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 4
".elixir.text":
  editor:
    autoIndent: true
