'0': 'tree-view:toggle-focus'
'1': 'pane-manager:focus-to-pane-one'
'2': 'pane-manager:focus-to-pane-two'
'3': 'pane-manager:focus-to-pane-three'
'4': 'pane-manager:focus-to-pane-four'
'5': 'pane-manager:focus-to-pane-five'
'6': 'pane-manager:focus-to-pane-six'
'7': 'pane-manager:focus-to-pane-seven'
'8': 'pane-manager:focus-to-pane-eight'
'9': 'pane-manager:focus-to-pane-nine'

'w':
  'm': 'atomic-emacs:close-other-panes'
  'shift-R': 'swap-panes:swap-next'
  '1': 'pane-manager:move-to-pane-one'
  '2': 'pane-manager:move-to-pane-two'
  '3': 'pane-manager:move-to-pane-three'
  '4': 'pane-manager:move-to-pane-four'
  '5': 'pane-manager:move-to-pane-five'
  '6': 'pane-manager:move-to-pane-six'
  '7': 'pane-manager:move-to-pane-seven'
  '8': 'pane-manager:move-to-pane-eight'
  '9': 'pane-manager:move-to-pane-nine'
