'.platform-linux':
  'f13': 'pane:show-previous-item'
  'f14': 'pane:show-next-item'
  'ctrl-alt-p': 'command-palette:toggle'
  'ctrl-0': 'tree-view:toggle-focus'
  'ctrl-alt-s': 'tree-view:toggle'
  'alt-f14': 'terminal-plus:toggle'
  'ctrl-f13': 'core:focus-previous'
  'ctrl-f14': 'core:focus-next'
  'ctrl-alt-p': 'command-palette:toggle'
  'cmd-w': 'core:close'
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-cmd-w': 'tabs:close-all-tabs'
  'ctrl-cmd-i': 'window:toggle-invisibles'
  'alt--': 'atom-ctags:return-from-declaration'
  'cmd-i': 'vim-mode-plus:activate-insert-mode'

  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-k up': 'unset!'

'atom-text-editor':
  'ctrl-space': 'atomic-emacs:set-mark'
  'cmd-space': 'find-and-replace:select-next'
  'cmd-enter': 'find-and-replace:select-skip'

'.tree-view':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-b': 'tree-view:collapse-directory'
  'ctrl-f': 'tree-view:expand-item'

'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-j': 'fuzzy-finder:toggle-file-finder'
  'ctrl-[': 'editor:outdent-selected-rows'
  'ctrl-]': 'editor:indent-selected-rows'
  'g d': 'atom-ctags:go-to-declaration'
  ';': 'ex-mode:open'
  'ctrl-alt-k': 'pane:show-previous-item'
  'ctrl-alt-j': 'pane:show-next-item'

'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-j': 'fuzzy-finder:toggle-file-finder'
  'ctrl-y': 'core:paste'
  'ctrl-w': 'core:cut'
  'ctrl-[': 'editor:outdent-selected-rows'
  'ctrl-]': 'editor:indent-selected-rows'

'.editor':
  'cmd-b': 'core:page-up'
  'cmd-f': 'core:page-down'
  'ctrl-h': 'core:backspace'
  'ctrl-j': 'fuzzy-finder:toggle-file-finder'
  'ctrl-x ctrl-c': 'window:close'
  'cmd-u': 'core:undo'
  'cmd-r': 'core:redo'
  'ctrl-alt-k': 'pane:show-previous-item'
  'ctrl-alt-j': 'pane:show-next-item'
  'alt-h': 'atomic-emacs:backward-kill-word'

'.platform-linux atom-text-editor':
  'ctrl-L': 'editor:split-selections-into-lines'

  'ctrl-k ctrl-l': 'unset!'
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-k ctrl-d': 'unset!'
  'ctrl-k ctrl-b': 'unset!'

'.platform-linux .terminal-plus .terminal':
  'space': 'native!'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'

'atom-workspace atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source ruby"],
 atom-workspace atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source ruby rails"]':
  't r': 'rspec:run'
  't h': 'rspec:run-for-line'
  't l': 'rspec:run-last'
  't a': 'rspec:run-all'
  'g t': 'rails-rspec:toggle-spec-file'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source go"]:not([mini])':
  'g d': 'golang:godef'
  'alt--': 'golang:godef-return'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source python"]:not([mini])':
  'g d': 'autocomplete-python:go-to-definition'

'atom-text-editor.vim-mode[data-grammar="source go"]:not([mini])':
  'alt-d': 'atomic-emacs:kill-word'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source js"]':
  'g l d': 'tern:definition'
  'alt--': 'tern:markerCheckpointBack'

'atom-workspace atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source ts"]':
  'g d': 'typescript:go-to-declaration'
'atom-workspace atom-text-editor[data-grammar="source ts"]':
  'alt-/': 'typescript:autocomplete'

'atom-text-editor.vim-mode-plus.insert-mode[data-grammar="text html elixir"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar="source haskell"]':
  'g d': 'haskell-ghc-mod:go-to-declaration'
